<div data-role="shadserg_samplejs_jsplugin_role">shadserg_samplejs_jsplugin_element</div>
<div data-role="shadserg_samplejs_jqueryplugin_role">shadserg_samplejs_jqueryplugin_element</div>
<div data-role="shadserg_samplejs_jqueryplugin_role_default">shadserg_samplejs_jqueryplugin_element_default</div>

<script type="text/x-magento-init">
{
    "[data-role=shadserg_samplejs_jsplugin_role]": {
        "shadserg_samplejs_jsplugin": {
            "message": "For elements by selector with data-role = shadserg_samplejs_jsplugin_role"
        }
    },
    "[data-role=shadserg_samplejs_jqueryplugin_role]": {
        "shadserg_samplejs_jqueryplugin": {
            "message": "For elements by selector with data-role = shadserg_samplejs_jqueryplugin_role",
            "color": "#afa"
        }
    },
    "[data-role=shadserg_samplejs_jqueryplugin_role_default]": {
        "shadserg_samplejs_jqueryplugin": {
            "color": "#aaf"
        }
    },
    ".panel.wrapper": {
        "shadserg_samplejs_jqueryplugin_use": {
            "additional": "Some more params",
            "options": {
                "message": "Using shadserg_samplejs_jqueryplugin_use"
            }
        }
    }
}
</script>
